#name of the workflow/pipeline
name: github action demo pipeline #name of the pipeline

#trigger event
# when github action call these evemt 
on:
  push:
    branches:
      - main

jobs: 
  demo-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: print message
        run: echo "welcome to github actions"

